# Default ignored files
/shelf/
/.idea/workspace.xml
/cred.json
/src/main/resources/application.properties
/compiler.xml
/dataSources.local.xml
/dataSources.xml
/encodings.xml
/git_toolbox_prj.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/StudySphere.iml
/uiDesigner.xml
/vcs.xml
/workspace.xml
